<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.XDev.Sandesh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/s"
        android:label="@string/app_name"
        android:roundIcon="@drawable/s"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sandesh"
        tools:targetApi="31">
        <activity
            android:name=".shared_files"
            android:exported="false" />
        <activity
            android:name=".new_regis"
            android:exported="false" />
        <activity
            android:name=".admin_login_Activity"
            android:exported="false" />
        <activity
            android:name=".Settings_Activity"
            android:exported="false" />
        <activity
            android:name=".chats_Activity"
            android:exported="false" />
        <activity
            android:name=".login_Activity"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>